<div class="container mt-4">
    <h2>Invoices</h2>
  
    <div class="row mb-3">
      <div class="col-md-3">
        <div class="filter-card">
          <label for="filterSelect" class="form-label">Filter:</label>
          <select id="filterSelect" class="form-select" [(ngModel)]="filterStatus" (change)="applyFilter()">
            <option value="all">All</option>
            <option value="completed">Completed</option>
            <option value="pending">Pending</option>
          </select>
        </div>
      </div>
    </div>
    

  <div class="container">
    <ul class="responsive-table" >
      <li class="table-header">
        <div class="col col-1">ID</div>
        <div class="col col-2">Invoice Item</div>
        <div class="col col-3">Creation Date</div>
        <div class="col col-4">Due Date</div>
        <div class="col col-4">Amount</div>
        <div class="col col-4">Paid Amount</div>
        <div class="col col-4">Balance</div>
        <div class="col col-4">Status</div>
      </li>
      <li class="table-row"  *ngFor="let invoice of filteredInvoices">
        <div class="col col-1" data-label="Invoice Id">{{ invoice.id }}</div>
        <div class="col col-2" data-label="Invoice Item">{{ invoice.invoiceItem }}</div>
        <div class="col col-3" data-label="Creation Date">{{ invoice.creationDate }}</div>
        <div class="col col-4" data-label="Due Date">{{ invoice.dueDate }}</div>
        <div class="col col-4" data-label="Amount">{{ invoice.amount }}</div>
        <div class="col col-4" data-label="Paid Amount">{{ invoice.paidAmount }}</div>
        <div class="col col-4" data-label="Balance">{{ invoice.balance }}</div>
        <div class="col col-4" data-label="Status">{{ invoice.status }}</div>
      </li>
    </ul>
  </div>
  