<form>
  <div class="form-group">
    <label for="invoiceItem">Invoice Item</label>
    <input
      type="text"
      id="invoiceItem"
      [(ngModel)]="currentInvoice.invoiceItem"
      name="invoiceItem"
      class="form-control"
      required
    />
  </div>
  <div class="form-group">
    <label for="creationDate">Creation Date</label>
    <input
      type="date"
      id="creationDate"
      [(ngModel)]="currentInvoice.creationDate"
      name="creationDate"
      class="form-control"
      required
    />
  </div>
  <div class="form-group">
    <label for="dueDate">Due Date</label>
    <input
      type="date"
      id="dueDate"
      [(ngModel)]="currentInvoice.dueDate"
      name="dueDate"
      class="form-control"
      required
    />
  </div>
  <div class="form-group">
    <label for="amount">Amount</label>
    <input
      type="number"
      id="amount"
      [(ngModel)]="currentInvoice.amount"
      name="amount"
      class="form-control"
      required
    />
  </div>
  <div class="form-group">
    <label for="paidAmount">Paid Amount</label>
    <input
      type="number"
      id="paidAmount"
      [(ngModel)]="currentInvoice.paidAmount"
      name="paidAmount"
      class="form-control"
    />
  </div>
  <div class="form-group">
    <label for="balance">Balance</label>
    <input
      type="number"
      id="balance"
      [(ngModel)]="currentInvoice.balance"
      name="balance"
      class="form-control"
    />
  </div>
  <div class="form-group">
    <label for="status">Status</label>
    <select
      id="status"
      [(ngModel)]="currentInvoice.status"
      name="status"
      class="form-select"
    >
      <option value="Completed">Completed</option>
      <option value="Pending">Pending</option>
    </select>
  </div>
  <a routerLink="/invoices">
      <button (click)="saveInvoice()" type="submit" class="btn btn-primary">
        {{ isEditing ? "Update" : "Save" }}
      </button>
  </a>
</form>
